@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="df95053b-751c-33b6-14d2-a4763aca7f98"] {
        display: flex;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="df95053b-751c-33b6-14d2-a4763aca7f9a"] {
        width: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="df95053b-751c-33b6-14d2-a4763aca7f99"] {
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="df95053b-751c-33b6-14d2-a4763aca7f9b"] {
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e54ed1fa-e78d-d77e-f756-db26314404a1"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="88457cd3-d047-dfa9-bbf0-04c4f8ded900"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5a0ea4b9-13e5-64df-34e1-11f2794907e9"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="9f124b67-73f0-6e8f-97a7-5cd3fe48ffde"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ad"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a42f4471-a06e-b367-2b08-acafc26656cc"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818b0"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818aa"] {
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ab"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5dd29f4e-f7ff-e265-5793-9818652eed49"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ec5"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1eb6"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ee3"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ed4"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="815e1567-e8d8-3887-7b4f-e61b59defca3"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0f16d970-3858-501c-35ad-50ff5a2db9d4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f8cd9a3a-3e01-4e7f-30db-ecd0dcc6e07a"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="86b9f3af-cb4f-5a69-3de4-8d0df7f0b23e"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f0195ee1-c983-a8a6-c1ae-057fcb149399"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="eafc4a11-c04e-02a7-5f67-f8039b492966"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6fd397a1-e8a4-fff3-aabb-decb46ecf7fe"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e952acc8-9e73-4313-aab0-82f6889542df"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="8fc829b0-3e81-4d30-2a87-eeaff1507aa1"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cb3ed43d-4fec-c076-6ad9-ca979cbce945"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cb3ed43d-4fec-c076-6ad9-ca979cbce94b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0f16d970-3858-501c-35ad-50ff5a2db9d9"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="3cde3e8e-9cf9-f0b1-0571-18bb109027d6"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d1acec6-4c9c-26ee-8926-bff6869d7e09"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="fd189f4e-bb1d-3d0d-a032-00be0c82ab01"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0d0c621e-8f16-a9c8-4eae-928122e0dce9"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b5acb40-3dd8-2606-340d-9826a9ee5559"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e350f601-f47b-bc74-3ba9-1a4e5d11a3e3"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="1a241269-bfb8-9220-a73e-cf86b1f65921"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a253bb0d-a960-4ae0-b308-eda497a5f24c"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="eafc4a11-c04e-02a7-5f67-f8039b49294f"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f4458d7a-bf4b-0312-92ab-343c3e6e0471"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="00e07311-24cb-f0bb-f4cd-36919691889a"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="d7f2e80d-58c0-9304-80ac-8f9f71925b91"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="527d699e-9019-9e28-e295-ff2a629887e1"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="16b60ede-379a-36de-ec0d-aac9ef3b7e2d"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="3b76bfc8-47d1-5a9d-3020-d07cabcad899"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b027a77e-2608-4127-faa5-419568875632"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="7bddbbc7-19d8-4f7e-8774-349841e43c3b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="d3743e10-20e5-56f2-c437-41115e695d60"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27810c9c-835c-aab2-e3db-9d8077ec18f0"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="143ac4b0-1ccd-4e11-ae17-1bb64b333cb4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="4708b3ce-ae65-ba58-b3f1-19e45a7ee33e"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="7bc40618-b6ba-98b9-a2bc-da7fe08bff33"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="53874d37-36d2-cd21-17e3-7e0580dcecc5"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="dffc65a0-0242-c78c-234e-f06f14483ed7"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0a04d93d-e633-f402-f428-1bcdaf00f73b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cc361453-0939-c765-6030-1b11e1149ca4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="da7739c7-892d-bf18-ed05-3a2a205f319d"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="88457cd3-d047-dfa9-bbf0-04c4f8ded900"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5a0ea4b9-13e5-64df-34e1-11f2794907e9"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="9f124b67-73f0-6e8f-97a7-5cd3fe48ffde"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ad"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a42f4471-a06e-b367-2b08-acafc26656cc"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818b0"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818aa"] {
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ab"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5dd29f4e-f7ff-e265-5793-9818652eed49"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ec5"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1eb6"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ee3"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e9a97131-8855-95c0-d8dd-d2a7a42d1ed4"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="815e1567-e8d8-3887-7b4f-e61b59defca3"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0f16d970-3858-501c-35ad-50ff5a2db9d4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f8cd9a3a-3e01-4e7f-30db-ecd0dcc6e07a"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="86b9f3af-cb4f-5a69-3de4-8d0df7f0b23e"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f0195ee1-c983-a8a6-c1ae-057fcb149399"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="eafc4a11-c04e-02a7-5f67-f8039b492966"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6fd397a1-e8a4-fff3-aabb-decb46ecf7fe"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e952acc8-9e73-4313-aab0-82f6889542df"] {
        width: 0%;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="8fc829b0-3e81-4d30-2a87-eeaff1507aa1"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cb3ed43d-4fec-c076-6ad9-ca979cbce945"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cb3ed43d-4fec-c076-6ad9-ca979cbce94b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0f16d970-3858-501c-35ad-50ff5a2db9d9"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="3cde3e8e-9cf9-f0b1-0571-18bb109027d6"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d1acec6-4c9c-26ee-8926-bff6869d7e09"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="fd189f4e-bb1d-3d0d-a032-00be0c82ab01"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0d0c621e-8f16-a9c8-4eae-928122e0dce9"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b5acb40-3dd8-2606-340d-9826a9ee5559"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="e350f601-f47b-bc74-3ba9-1a4e5d11a3e3"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="1a241269-bfb8-9220-a73e-cf86b1f65921"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a253bb0d-a960-4ae0-b308-eda497a5f24c"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="eafc4a11-c04e-02a7-5f67-f8039b49294f"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="f4458d7a-bf4b-0312-92ab-343c3e6e0471"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="00e07311-24cb-f0bb-f4cd-36919691889a"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="d7f2e80d-58c0-9304-80ac-8f9f71925b91"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="527d699e-9019-9e28-e295-ff2a629887e1"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="16b60ede-379a-36de-ec0d-aac9ef3b7e2d"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="3b76bfc8-47d1-5a9d-3020-d07cabcad899"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="b027a77e-2608-4127-faa5-419568875632"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="7bddbbc7-19d8-4f7e-8774-349841e43c3b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="d3743e10-20e5-56f2-c437-41115e695d60"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27810c9c-835c-aab2-e3db-9d8077ec18f0"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="143ac4b0-1ccd-4e11-ae17-1bb64b333cb4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="4708b3ce-ae65-ba58-b3f1-19e45a7ee33e"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="7bc40618-b6ba-98b9-a2bc-da7fe08bff33"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="53874d37-36d2-cd21-17e3-7e0580dcecc5"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="dffc65a0-0242-c78c-234e-f06f14483ed7"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="0a04d93d-e633-f402-f428-1bcdaf00f73b"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="cc361453-0939-c765-6030-1b11e1149ca4"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="da7739c7-892d-bf18-ed05-3a2a205f319d"] {
        -webkit-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -moz-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        -ms-transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
        skew(0, 0);
        transform: translate3d(0, 0.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
    }
}
@media (max-width: 767px) and (min-width: 480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="88457cd3-d047-dfa9-bbf0-04c4f8ded900"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5a0ea4b9-13e5-64df-34e1-11f2794907e9"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="9f124b67-73f0-6e8f-97a7-5cd3fe48ffde"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ad"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a42f4471-a06e-b367-2b08-acafc26656cc"] {
        width: 100%;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818b0"] {
        width: 0px;
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818aa"] {
        height: 0px;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="27966c10-3b29-eede-c12b-d610ef5818ab"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5dd29f4e-f7ff-e265-5793-9818652eed49"] {
        width: 100%;
        height: 0px;
    }
}
